/* src/css/components.css */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


/* --------------------- */
.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-results li {
  list-style: none;
  padding: 5px;
}

.search-results li a {
  text-decoration: none;
  color: #333;
}

.search-results li a:hover {
  background: #f0f0f0;
}

/* ------------------- */
.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}


.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

/* -------- */
.sidebar-item {
  color: var(--ifm-font-color-base);
  font-weight: bold;
}

.sidebar-item:hover {
  color: var(--ifm-color-primary);
}

/* ------ */
#test-key-form {
  background-color: var(--ifm-background-surface-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--ifm-font-color-base);
}

#test-key-form div,
#mode-selector-container .content {
  margin-bottom: 15px;
}

#test-key-form label,
#mode-selector-container label {
  display: block;
  font-weight: bold;
  color: var(--ifm-font-color-base);
  margin-right: 10px;
}

#test-key-form input,
#mode-selector-container select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--ifm-border-color);
  border-radius: 4px;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

#test-key-form button,
button {
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#test-key-form button:hover,
button:hover {
  background-color: var(--ifm-color-primary-dark);
}

#mode-selector-container {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--ifm-background-surface-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--ifm-font-color-base);
}

/* --tooltips--- */

/* src/css/components.css */
.required {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.optional {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tip {
  background-color: #f9f9f9;
  border-left: 6px solid #2196F3;
  margin: 10px 0;
  padding: 10px;
  color: #000;
}

